In [8]:
import pandas as pd

In [17]:
df2 = pd.read_json('./scrapyProjects/companiesConnect2India/companiesConnect2India/spiders/companiesConnect3India.json')

In [43]:
df2.head()

,CIN,Name
0,"[AAO-2575, AAO-2576, AAO-2577, AAO-2578, AAO-2...","[APOLLO FARM RESORTS LLP, E GATE TECH LLP, PUS..."
1,"[AAO-2645, AAO-2646, AAO-2647, AAO-2648, AAO-2...","[A P JAISWAL & CO LLP, AUTOROUTES DESIGNERS LL..."
2,"[U01100PN2019PTC182171, U01100PY2019PTC008391,...","[GSFAC AGRO TECHNOLOGY PRIVATE LIMITED, VETRI ..."
3,"[U18109KA2019PTC121402, U18109MH2019OPC321140,...","[AL HUDA TEXTILE PRIVATE LIMITED, VELVET BOX J..."
4,"[U45202KL2019PTC056756, U45203KA2019PTC121396,...",[MARSK ENGINEERING AND CONSTRUCTION PRIVATE LI...

In [29]:
cins = []
names = []

In [30]:
for i in range(0,6266):
    cins.extend(df2.loc[i]['CIN'])
    names.extend(df2.loc[i]['Name'])

In [33]:
cinSeries = pd.Series(data=cins)
nameSeries = pd.Series(data=names)

In [38]:
df3 = pd.DataFrame()

In [40]:
df3['STR'] = nameSeries
df3['CODE'] = cinSeries

In [44]:
df3.tail()

                                               STR                   CODE
432286           NATIVE ROUTE EXIM PRIVATE LIMITED  U72501TG2015PTC101567
432287  NCLOUDER SOFT TECHNOLOGIES PRIVATE LIMITED  U72900KA2015PTC083938
432288               Nedo Software Private Limited  U31908MH2015PTC269968
432289           NERKAR TECHNOLOGY PRIVATE LIMITED  U74120TG2015PTC101595
432290            NESTOR ANALYTICS PRIVATE LIMITED                    NaN

In [46]:
df3.to_csv('./scrapyProjects/companiesConnect2India/companiesConnect2India/spiders/companiesConnect2India.csv',index=False)

In [25]:
testSeries = pd.Series(data=test['CIN'])

In [26]:
testSeries

0                  AAO-2645
1                  AAO-2646
2                  AAO-2647
3                  AAO-2648
4                  AAO-2649
5                  AAO-2650
6                  AAO-2651
7                  AAO-2652
8                  AAO-2653
9                  AAO-2654
10                 AAO-2655
11                 AAO-2656
12                 AAO-2657
13                 AAO-2658
14                 AAO-2659
15                 AAO-2660
16                 AAO-2661
17                 AAO-2662
18                 AAO-2663
19                 AAO-2664
20                 AAO-2665
21                 AAO-2666
22                 AAO-2667
23                 AAO-2668
24                 AAO-2669
25                 AAO-2670
26                 AAO-2671
27                 AAO-2672
28                 AAO-2673
29                 AAO-2674
              ...
39                 AAO-2684
40                 AAO-2685
41                 AAO-2686
42                 AAO-2687
43                 AAO-2688
44                 AAO-2689
45                 AAO-2690
46                 AAO-2691
47                 AAO-2692
48                 AAO-2693
49                 AAO-2694
50                 AAO-2695
51                 AAO-2696
52                 AAO-2697
53                 AAO-2698
54                 AAO-2699
55                 AAO-2700
56    U01100AP2019PTC111182
57    U01100BR2019PTC040977
58    U01100GJ2019PTC106579
59    U01100HR2019PTC078526
60    U01100KL2019PTC056775
61    U01100MH2019PTC321107
62    U01100MH2019PTC321162
63    U01100OR2019PTC030486
64    U01100OR2019PTC030487
65    U01100PN2019PTC182140
66    U01100PN2019PTC182141
67    U01100PN2019PTC182159
68    U01100PN2019PTC182160
Length: 69, dtype: object

In [10]:
with open('./scrapyProjects/companiesConnect2India/companiesConnect2India/spiders/companiesConnect2India (copy).csv') as f:
    reader = csv.reader(f)
    for row in reader:
        data

In [12]:
len(data)

6270

In [13]:
data[0]

['[']

In [15]:
type(data[1])

list

In [21]:
data[1][1]

' "AAO-2576"'

In [19]:
temp = pd.Series(data=data[1][0])

In [24]:
type(data[1][0])

str

In [25]:
data[1][0]

'{"CIN": ["AAO-2575"'

In [27]:
test = pd.read_csv('./scrapyProjects/companiesConnect2India/companiesConnect2India/spiders/companiesConnect2India (copy).csv')

ParserError: Error tokenizing data. C error: Expected 158 fields in line 4, saw 159